/* css classes */

/* styles */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hero-heading {
  font-size: 1.3em; 
  margin: 3rem 0 2rem 0; 
  color: var(--bs-secondary-color);
}

.img-rounded img {
  border-radius: 5px;
}

.quarto-listing .card {
  border: none !important;
}

.quarto-listing .card:hover {
  background: rgba(0,0,0,0.03);
}

.navbar .dropdown-header {
  font-weight: bold !important;
  font-size: 0.85rem !important;
  text-transform: capitalize !important;
  letter-spacing: 0.5px !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.25rem !important;
}

.asterism {
  text-align: center;
  font-size: 1em;
  margin: 1em 0;
  line-height: 1;
}

/* alignment */

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-container-v {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* text grids */

.text-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.text-col {
  grid-column: span 1;
}

@media (max-width: 768px) {
  .text-grid {
    grid-template-columns: 1fr;
  }

  .text-col {
    grid-column: span 1;
  }
}

/* image grid : fixed width, variable col number */

.gallery-grid {
  display: grid;
  grid-gap: var(--grid-gap, 10px);
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-size, 200px), 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-auto-flow: dense;
  margin-bottom: 10px;
}

.gallery-grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-grid.margin {
  --grid-size: 100px;
  --grid-gap: 50px; 
}

.gallery-grid.small { --grid-size: 100px; }
.gallery-grid.large { --grid-size: 300px; }

/* image grid : fixed col number, irregular layout, column sorting */

.gallery-flow { column-gap: 10px; }

.gallery-flow > div {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.gallery-flow > div > a > img {
  width: 100%;
  height: auto;
}

.gallery-flow.two { column-count: 2; }
.gallery-flow.three { column-count: 3; }
.gallery-flow.four { column-count: 4; }


