/* css classes */

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-container-v {
  display: flex;
  justify-content: center;
  align-items: center;
}


.gallery-grid {
  display: grid;
  grid-gap: var(--grid-gap, 10px);
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-size, 200px), 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-auto-flow: dense;
  margin-bottom: 10px;
}

.gallery-grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-grid.margin {
  --grid-size: 100px;
  --grid-gap: 50px; 
}

.gallery-grid.small {
  --grid-size: 100px; 
}

.gallery-grid.large {
  --grid-size: 300px; 
}


.gallery-flow {
  column-count: 4;
  column-gap: 10px;
}

.gallery-flow > div {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.gallery-flow > div > a > img {
  width: 100%;
  height: auto;
}



